* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #151F38;
}

.container {
  max-width: 1200px;
  margin: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

h1 {
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 29px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  width: 100vw;
  overflow: scroll;
  height: 50px;
  margin-bottom: 10vh;
  position: fixed;
  z-index: 10;
  background-color: #0B0F21;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

nav ul li {
  line-height: 50px;
}

nav ul li:not(:last-child) {
  margin-right: 2.5em;
}

nav ul li a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

nav ul li a:hover {
  opacity: 1;
}

nav ul li a.active {
  font-weight: bold;
  opacity: 1;
}

main {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: center;
}

main .container img {
  width: 40vh;
}

main .container h2 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 1400px) {
  main .container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
    text-align: center;
  }
  main .container img {
    margin: 0 auto;
  }
}

section {
  min-height: 800px;
  position: relative;
}

section .container {
  height: 100%;
}

section .container .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .flex div {
  width: 70%;
}

section .container .flex div h2 {
  margin-bottom: 30px;
}

section#app {
  background-color: #F2F2F2;
  color: #151F38;
}

section#app .container {
  padding-top: 350px;
}

section#app .container img {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1300px) {
  section#app .container {
    padding-top: 10vh;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  section#app .container .flex {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  section#app .container div {
    width: 100vw;
    padding: 0 5vw;
    margin-bottom: 560px;
  }
  section#app .container img {
    position: absolute;
  }
}

section#drone {
  background-color: #151F38;
  color: #F2F2F2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 1fr;
      grid-template-columns: 360px 1fr;
  gap: 5%;
  place-content: center;
  padding: 0 240px;
}

section#drone img {
  width: 100%;
}

section#drone div {
  text-align: right;
}

@media (max-width: 1400px) {
  section#drone {
    padding: 0 140px;
  }
}

@media (max-width: 1000px) {
  section#drone {
    padding: 0 80px;
  }
}

section#services {
  min-height: 400px;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#services .flex {
  height: 100%;
  padding: 100px 0px;
}

section#services .flex div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

section#services .flex div img {
  margin-top: 2em;
}

@media (max-width: 700px) {
  section#services .flex {
    display: -ms-grid;
    display: grid;
    gap: 3em;
    place-content: center;
    text-align: center;
  }
}

section#contact {
  min-height: 100vh;
  background-color: #151F38;
  color: #F2F2F2;
  overflow: visible;
  padding-bottom: 10vh;
  width: 100vw;
}

section#contact .container {
  padding: 10vh 5%;
  width: 100%;
}

section#contact .container h2 {
  margin-bottom: 30px;
}

section#contact .container form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60vh;
  margin-top: 100px;
}

section#contact .container form .input {
  margin: 15px 0;
}

section#contact .container form .input label {
  display: block;
  margin-bottom: 10px;
}

section#contact .container form .input input,
section#contact .container form .input textarea {
  background-color: #1E2B4D;
  border-radius: 15px;
  background-color: #1E2B4D;
  color: #F2F2F2;
  border: none;
  padding: 30px;
}

section#contact .container form .input input:focus,
section#contact .container form .input textarea:focus {
  outline: none;
}

section#contact .container form .input input {
  width: 50%;
  height: 50px;
}

@media (max-width: 850px) {
  section#contact .container form .input input {
    width: 100%;
  }
}

section#contact .container form .input textarea {
  width: 100%;
}

section#contact .container form button {
  width: 150px;
  height: 50px;
  color: #F2F2F2;
  background-color: #1B78B5;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: auto;
  padding: 1em 2.3em;
  margin-bottom: 3em;
}

section#contact .container form button:hover {
  background-color: #1c7ec0;
}

section#contact .container form button:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */