* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #151F38;
}

.container {
    width: 1200px;
    margin: auto;
    justify-self: center;
}

h1 {
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 29px;
}

.flex {
    display: flex;
}

nav {
    width: 100vw;
    height: 50px;
    margin-bottom: 10vh;
    position: fixed;
    z-index: 10;
    background-color: #0B0F21;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            line-height: 50px;

            &:not(:last-child) {
                margin-right: 2.5em;
            }

            a {
                font-size: 22px;
                color: white;
                text-decoration: none;
                opacity: 0.8;
                transition: opacity 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

main {
    background-image: url('../assets/images/background.png');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    color: #F2F2F2;
    display: flex;

    .container {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-self: center;

        img {
            width: 40vh;
        }

        h2 {
            margin-top: 30px;
            font-size: 24px;
            font-weight: normal;
            font-style: italic;
        }

    }
}

section {
    min-height: 800px;
    position: relative;

    .container {
        height: 100%;

        .flex {
            justify-content: space-between;

            div {
                width: 70%;

                h2 {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

section#app {
    background-color: #F2F2F2;
    color: #151F38;

    .container {
        padding-top: 350px;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

section#drone {
    background-color: #151F38;
    color: #F2F2F2;
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 5%;
    place-content: center;
    padding: 0 240px;

    img {
        width: 100%;
    }

    div {
        text-align: right;
    }

    @media (max-width: 1400px) {
        padding: 0 140px;
    }

    @media (max-width: 1000px) {
        padding: 0 80px;
    }

}

section#services {
    min-height: 400px;
    background-color: #F2F2F2;
    display: flex;

    .flex {
        height: 100%;
        padding: 100px 0px;

        div {
            display: grid;
            place-items: center;

            img {
                margin-top: 2em
            }
        }
    }
}

section#contact {
    min-height: 100vh;
    background-color: #151F38;
    color: #F2F2F2;
    overflow: auto;

    .container {
        padding: 10vh 0;

        h2 {
            margin-bottom: 30px;
        }

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60vh;
            margin-top: 100px;

            .input {
                margin: 15px 0;

                label {
                    display: block;
                    margin-bottom: 10px;
                }

                input {
                    width: 600px;
                    height: 50px;
                    background-color: #1E2B4D;
                    border: none;
                    padding: 30px;
                    color: #F2F2F2;

                    &:focus {
                        outline: none;
                    }
                }

                textarea {
                    width: 1200px;
                    background-color: #1E2B4D;
                    border: none;
                    padding: 30px;
                    color: #F2F2F2;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                width: 150px;
                height: 50px;
                color: #F2F2F2;
                background-color: #1B78B5;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                margin-right: auto;

                &:hover {
                    background-color: #1c7ec0;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}